body {
  margin-left: 60px;
  margin-right: 60px;
}

h1 {
  font-size: 40px;
  text-align: center;
  border: solid;
  border-width: 3px;
  border-color: black;
  padding: 20px;
}

.contact {
  margin-top: 3px;
  margin-bottom: 3px;
}

.title {
  margin-bottom: 0;
}

.descript {
  margin-top: 3px;
}

.section {
  margin: 10px;
  padding: 10px;
  border-top-style: dotted;
  border-bottom-style: dotted;
  border-width: 1px;
}
